.formSection{
    background: #ffffff url("../images/home_banner.jpg") no-repeat fixed;
    color: var(--light);
    .row{
        h1{
            padding:  1rem 0;
            text-align: center;
            font-family: 'Rancho', cursive;
            font-size: 4rem;
            text-transform: capitalize;
        }
    }
    .submitBtn{
        background-color: $primary;
        color: var(--light);
    }
    .divArea{
        min-height: 200px;
        height: auto;
        width: 100%;
        background-color: $light_white;
        margin-bottom: 1rem;
        border-radius: 5px;
        input[type='text']{
            background: none;
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
        }
    }
}